extends layout.pug
block content
  .mx-5
    div(class="mt-3 pb-4 mb-4 border-bottom d-flex")
      h3 About this site
    div
      p. 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, 
        odit eligendi adipisci eius ex, accusamus perferendis nobis, explicabo ab 
        ea consequuntur quisquam inventore eum nulla assumenda esse est ipsam sit. 
        Dolor sit amet consectetur adipisicing elit. Molestias autem aliquid deserunt 
        itaque, nisi quae adipisci natus eaque, commodi repudiandae quis est quisquam. 
      p.
        Saepe, ullam voluptate. Incidunt veniam deleniti voluptatibus! Lorem ipsum 
        dolor sit amet, consectetur adipisicing elit. Vero inventore porro, 
        consequuntur quam aliquam error aliquid repudiandae magni numquam, ipsum quia, 
        aspernatur explicabo deserunt distinctio optio modi reiciendis ullam tempore.