doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= app_title
    link(rel="stylesheet", href="/stylesheets/main.css")
    script(src="/javascripts/main.js", defer)
  body.bg-light
    include partials/_header.pug

    .container
      div(class="shadow p-3 my-5 bg-body half-rounded-box")
        block content 
          p Nothing to display

    include partials/_footer.pug